<mat-toolbar>
    <span style="text-align: center;">A D M I N</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <span style="font-size: 20px;">{{trenAdmin.ime}} {{trenAdmin.prezime}}</span>
        <hr>
        <button (click)="logout()">LOG OUT</button><br>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <!-- Ovde prvo treba da napravis one dijagrame -->

            <!-- Ovde treba da uhvatis zahteve za registraciju -->
            <table>
                <tr>
                    <td *ngFor="let zahtev of sviZahtevi">
                        <form>
                            <table>
                                <tr>
                                    <th>
                                        Ime
                                    </th>
                                    <td>
                                        {{zahtev.ime}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Prezime
                                    </th>
                                    <td>
                                        {{zahtev.prezime}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Pol
                                    </th>
                                    <td>
                                        {{zahtev.pol}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Adresa
                                    </th>
                                    <td>
                                        {{zahtev.adresa}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Kontakt
                                    </th>
                                    <td>
                                        {{zahtev.kontakt}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Email
                                    </th>
                                    <td>
                                        {{zahtev.mejl}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button mat-button style="background-color: rgba(255, 0, 0, 0.711); color: white;">ODBIJ</button>
                                    </td>
                                    <td>
                                        <button mat-button style="background-color: green; color: white;">PRIHVATI</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
            </table>

            <!-- Ovde treba da stavis dodavanje predmeta -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>