<!-- <h3>{{trenUcenik.ime}} {{trenUcenik.prezime}}</h3>
<button (click)="logout()">LOG OUT</button><br> -->
<mat-toolbar>
    <span style="text-align: center;">STUDENT</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>

        <img src="{{trenUcenik.slika}}" style="width: 50px;height: 50px; border-radius: 100px;">
        <div>{{trenUcenik.ime}}</div>
        <hr>
        <button mat-button (click)="toggleProfil()" style="background-color: green; width: 150px;">
            <span>Profil</span>
        </button>
        <hr>
        <button mat-button (click)="toggleNastavnici()" style="background-color: green; width: 150px;">
            <span>Nastavnici</span>
        </button>
        <hr>
        <button mat-button (click)="toggleCasovi()" style="background-color: green; width: 150px;">
            <span>Casovi</span>
        </button>
        <hr>
        <button mat-button (click)="toggleObavestenja()" style="background-color: green; width: 150px;">
            <span>Obavestenja</span>
        </button>
        <hr>
        <button (click)="logout()">LOG OUT</button><br>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <div id="profil-ucenika" *ngIf="stavkaMenija == 0">
                <table>
                    <tr>
                        <td>Profile picture</td>
                        <td>
                            <img src="{{trenUcenik.slika}}" style="width: 150px;height: 150px; border-radius: 20px;">
                        </td>
                        <td>
                            <input type="file" *ngIf="editujSliku == false" id="slika" name="slika"
                                (change)="imgSelected($event)" accept="image/png, image/jpg" />
                            <button *ngIf="editujSliku == true" (click)="confirmSliku()">CONFIRM</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>
                            <span *ngIf="editujIme == false">{{trenUcenik.ime}}</span>
                            <input type="text" name="editovanoIme" [(ngModel)]="trenUcenik.ime"
                                *ngIf="editujIme == true"
                                style="width: 150px; height: 40px; font-size: large; text-align: center;">
                        </td>
                        <td>
                            <button *ngIf="editujIme == false" (click)="editIme()">EDIT</button>
                            <button *ngIf="editujIme == true" (click)="confirmIme()">CONFIRM</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Surname</td>
                        <td>
                            <span *ngIf="editujPrezime == false">{{trenUcenik.prezime}}</span>
                            <input type="text" name="editovanoPrezime" [(ngModel)]="trenUcenik.prezime"
                                *ngIf="editujPrezime == true"
                                style="width: 150px; height: 40px; font-size: large; text-align: center;">
                        </td>
                        <td>
                            <button *ngIf="editujPrezime == false" (click)="editPrezime()">EDIT</button>
                            <button *ngIf="editujPrezime == true" (click)="confirmPrezime()">CONFIRM</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <span *ngIf="editujAdresu == false">{{trenUcenik.adresa}}</span>
                            <input type="text" name="editovanaAdresa" [(ngModel)]="trenUcenik.adresa"
                                *ngIf="editujAdresu == true"
                                style="width: 150px; height: 40px; font-size: large; text-align: center;">
                        </td>
                        <td>
                            <button *ngIf="editujAdresu == false" (click)="editAdresu()">EDIT</button>
                            <button *ngIf="editujAdresu == true" (click)="confirmAdresu()">CONFIRM</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            <span *ngIf="editujMejl == false">{{trenUcenik.mejl}}</span>
                            <input type="text" name="editovanMejl" [(ngModel)]="trenUcenik.mejl"
                                *ngIf="editujMejl == true"
                                style="width: 150px; height: 40px; font-size: large; text-align: center;">
                        </td>
                        <td>
                            <button *ngIf="editujMejl == false" (click)="editMejl()">EDIT</button>
                            <button *ngIf="editujMejl == true" (click)="confirmMejl()">CONFIRM</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>
                            <span *ngIf="editujKontakt == false">{{trenUcenik.kontakt}}</span>
                            <input type="text" name="editovanKontakt" [(ngModel)]="trenUcenik.kontakt"
                                *ngIf="editujKontakt == true"
                                style="width: 150px; height: 40px; font-size: large; text-align: center;">
                        </td>
                        <td>
                            <button *ngIf="editujKontakt == false" (click)="editKontakt()">EDIT</button>
                            <button *ngIf="editujKontakt == true" (click)="confirmKontakt()">CONFIRM</button>
                        </td>
                    </tr>
                    <tr>
                        <td>School</td>
                        <td>
                            <span *ngIf="editujTipSkole == false && editujTipSrednjeSkole == false">{{trenUcenik.tipSkole}}</span>
                            <select name="editovanTipSkole" [(ngModel)]="izabraniTipSkole"
                                *ngIf="editujTipSkole == true"
                                style="width: 300px; height: 40px; font-size: large; text-align: center;">
                                <option value="osnovna">Osnovna</option>
                                <option value="srednja-gimnazija">Srednja-gimnazija</option>
                                <option value="srednja-strucna">Srednja-strucna</option>
                                <option value="srednja-umetnicka">Srednja-umetnicka</option>
                            </select>
                            <select name="editovanTipSrednjeSkole" [(ngModel)]="izabraniTipSrednjeSkole"
                                *ngIf="editujTipSrednjeSkole == true"
                                style="width: 300px; height: 40px; font-size: large; text-align: center;">
                                <option value="srednja-gimnazija">Srednja-gimnazija</option>
                                <option value="srednja-strucna">Srednja-strucna</option>
                                <option value="srednja-umetnicka">Srednja-umetnicka</option>
                            </select>
                        </td>
                        <td>
                            <button *ngIf="editujTipSkole == false && editujTipSrednjeSkole == false" (click)="editTipSkole()">EDIT</button>
                            <button *ngIf="editujTipSkole == true || editujTipSrednjeSkole == true" (click)="confirmTipSkole()">CONFIRM</button>
                            <br>
                            <span style="color: red; font-size: small;">
                                {{message}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td>
                            <span>{{trenUcenik.razred}}</span>&nbsp;
                            <button *ngIf="editujRazred == true && incFlag == false" (click)="razredUp()">
                                <img src="assets/arrow_up.jpeg" style="width: 10px; height: 10px;">
                            </button>
                            <button *ngIf="editujRazred == true && incFlag == true" (click)="razredUp()" disabled>
                                <img src="assets/arrow_up.jpeg" style="width: 10px; height: 10px;">
                            </button>
                        </td>
                        <td>
                            <button *ngIf="editujRazred == false" (click)="editRazred()">EDIT</button>
                            <button *ngIf="editujRazred == true" (click)="confirmRazred()">CONFIRM</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="nastavnici-ucenika" *ngIf="stavkaMenija == 1">
                <table class="nastavnici_tabela">
                    <tr>
                        <td>
                            <input type="search" name="searchPredmet" [(ngModel)]="searchByPredmet" />
                        </td>
                        <td>
                            <input type="search" name="searchIme" [(ngModel)]="searchByIme" />
                        </td>
                        <td>
                            <input type="search" name="searchPrezime" [(ngModel)]="searchByPrezime" />
                        </td>
                        <td>
                            <button (click)="searchPredNas()">search</button>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            SUBJECT
                        </th>
                        <th>
                            TEACHER NAME
                        </th>
                        <th>
                            SURNAME
                        </th>
                        <th>
                            AVG GRADE
                        </th>
                    </tr>
                    <tr *ngFor="let prednas of predNasOcenaSearched">
                        <td>
                            {{prednas.predmet.naziv}}
                        </td>
                        <td>
                            {{prednas.nastavnik.ime}}<br>
                            <a routerLink="/nastavnik-detalji/{{prednas.nastavnik.kor_ime}}">profil</a>
                        </td>
                        <td>
                            {{prednas.nastavnik.prezime}}<br>
                            <a routerLink="/nastavnik-detalji/{{prednas.nastavnik.kor_ime}}">profil</a>
                        </td>
                        <td>
                            {{prednas.prosecna_ocena}}
                        </td>
                    </tr>
                </table>
            </div>
            <div id="casovi-ucenika" *ngIf="stavkaMenija == 2">

            </div>
            <div id="obavestenja-ucenika" *ngIf="stavkaMenija == 3">
                
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>