<mat-toolbar>
    <span style="text-align: center;">TEACHER</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>

        <img src="{{trenNastavnik.slika}}" style="width: 50px;height: 50px; border-radius: 100px;">
        <div>{{trenNastavnik.ime}}</div>
        <hr>
        <button mat-button (click)="toggleProfil()" style="background-color: green; width: 150px;">
            <span>Profil</span>
        </button>
        <hr>
        <button mat-button (click)="toggleCasovi()" style="background-color: green; width: 150px;">
            <span>Casovi</span>
        </button>
        <hr>
        <button (click)="logout()">LOG OUT</button><br>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <div id="profil-ucenika" *ngIf="stavkaMenija == 0">
                <form>
                    <table>
                        <tr>
                            <td>Profilna slika</td>
                            <td>
                                <img src="{{trenNastavnik.slika}}"
                                    style="width: 150px;height: 150px; border-radius: 20px;">
                            </td>
                            <td>
                                <input type="file" *ngIf="editujSliku == false" id="slika" name="slika"
                                    (change)="imgSelected($event)" accept="image/png, image/jpg" />
                                <button *ngIf="editujSliku == true" (click)="confirmSliku()">CONFIRM</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ime</td>
                            <td>
                                <span *ngIf="editujIme == false">{{trenNastavnik.ime}}</span>
                                <input type="text" name="editovanoIme" [(ngModel)]="trenNastavnik.ime"
                                    *ngIf="editujIme == true"
                                    style="width: 150px; height: 40px; font-size: large; text-align: center;">
                            </td>
                            <td>
                                <button *ngIf="editujIme == false" (click)="editIme()">EDIT</button>
                                <button *ngIf="editujIme == true" (click)="confirmIme()">CONFIRM</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Prezime</td>
                            <td>
                                <span *ngIf="editujPrezime == false">{{trenNastavnik.prezime}}</span>
                                <input type="text" name="editovanoPrezime" [(ngModel)]="trenNastavnik.prezime"
                                    *ngIf="editujPrezime == true"
                                    style="width: 150px; height: 40px; font-size: large; text-align: center;">
                            </td>
                            <td>
                                <button *ngIf="editujPrezime == false" (click)="editPrezime()">EDIT</button>
                                <button *ngIf="editujPrezime == true" (click)="confirmPrezime()">CONFIRM</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Adresa</td>
                            <td>
                                <span *ngIf="editujAdresu == false">{{trenNastavnik.adresa}}</span>
                                <input type="text" name="editovanaAdresa" [(ngModel)]="trenNastavnik.adresa"
                                    *ngIf="editujAdresu == true"
                                    style="width: 150px; height: 40px; font-size: large; text-align: center;">
                            </td>
                            <td>
                                <button *ngIf="editujAdresu == false" (click)="editAdresu()">EDIT</button>
                                <button *ngIf="editujAdresu == true" (click)="confirmAdresu()">CONFIRM</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <span *ngIf="editujMejl == false">{{trenNastavnik.mejl}}</span>
                                <input type="text" name="editovanMejl" [(ngModel)]="trenNastavnik.mejl"
                                    *ngIf="editujMejl == true"
                                    style="width: 150px; height: 40px; font-size: large; text-align: center;">
                            </td>
                            <td>
                                <button *ngIf="editujMejl == false" (click)="editMejl()">EDIT</button>
                                <button *ngIf="editujMejl == true" (click)="confirmMejl()">CONFIRM</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Kontakt</td>
                            <td>
                                <span *ngIf="editujKontakt == false">{{trenNastavnik.kontakt}}</span>
                                <input type="text" name="editovanKontakt" [(ngModel)]="trenNastavnik.kontakt"
                                    *ngIf="editujKontakt == true"
                                    style="width: 150px; height: 40px; font-size: large; text-align: center;">
                            </td>
                            <td>
                                <button *ngIf="editujKontakt == false" (click)="editKontakt()">EDIT</button>
                                <button *ngIf="editujKontakt == true" (click)="confirmKontakt()">CONFIRM</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Predmeti</td>
                            <td>
                                <ul *ngIf="editujPredmete == false">
                                    <li *ngFor="let p of trenNastavnik.predmeti"
                                        style="text-align: left; font-size: 20px;">{{p.naziv}}</li>
                                </ul>
                                <select multiple *ngIf="editujPredmete == true" name="editovaniPredmeti"
                                    [(ngModel)]="predmetiNizStringova"
                                    style="width: 300px; height: 100px; font-size: large; text-align: center;">
                                    <option value="Matematika">Matematika</option>
                                    <option value="Fizika">Fizika</option>
                                    <option value="Hemija">Hemija</option>
                                    <option value="Programiranje">Programiranje</option>
                                    <option value="Srpski jezik i knjizevnost">Srpski jezik i knjizevnost</option>
                                    <option value="Engleski jezik">Engleski jezik</option>
                                    <option value="Nemacki jezik">Nemacki jezik</option>
                                    <option value="Francuski jezik">Francuski jezik</option>
                                    <option value="Spanski jezik">Spanski jezik</option>
                                    <option value="Latinski jezik">Latinski jezik</option>
                                    <option value="Italijanski jezik">Italijanski jezik</option>
                                    <option value="Biologija">Biologija</option>
                                    <option value="Istorija">Istorija</option>
                                    <option value="Svet oko nas">Svet oko nas</option>
                                </select>
                            </td>
                            <td>
                                <button *ngIf="editujPredmete == false" (click)="editPredmeti()">EDIT</button>
                                <button *ngIf="editujPredmete == true" (click)="confirmPredmeti()">CONFIRM</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Uzrasti</td>
                            <td>
                                <ul *ngIf="editujUzrast == false">
                                    <li *ngFor="let p of trenNastavnik.uzrast"
                                        style="text-align: left; font-size: 20px;">{{p.uzrast}}</li>
                                </ul>
                                <select *ngIf="editujUzrast == true" multiple name="uzrastiNizStringova"
                                    [(ngModel)]="uzrastiNizStringova"
                                    style="width: 300px; height: 70px; font-size: large; text-align: center;">
                                    <option value="Osnovna skola 1-4. razred">Osnovna skola 1-4. razred</option>
                                    <option value="Osnovna skola 5-8. razred">Osnovna skola 5-8. razred</option>
                                    <option value="Srednja skola">Srednja skola</option>
                                </select>
                            </td>
                            <td>
                                <button *ngIf="editujUzrast == false" (click)="editUzrast()">EDIT</button>
                                <button *ngIf="editujUzrast == true" (click)="confirmUzrast()">CONFIRM</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div id="casovi-ucenika" *ngIf="stavkaMenija == 1">
                <h2 style="font-size: 30px; margin-left: 20px; margin-top: 50px;">SCHEDULED CLASSES</h2>
                <span style="color: red;">{{casoviMessage}}</span>
                <form>
                    <table class="tabela-casovi">
                        <tr>
                            <td *ngFor="let cas of casoviNastavnikaSaUcenikom">
                                <table>
                                    <tr>
                                        <th>
                                            Date
                                        </th>
                                        <td>
                                            {{cas.datum}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Time
                                        </th>
                                        <td>
                                            {{cas.vreme}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Subject
                                        </th>
                                        <td>
                                            {{cas.naziv_predmeta}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <td>
                                            {{cas.ucenik.ime}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Surname
                                        </th>
                                        <td>
                                            {{cas.ucenik.prezime}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Duration
                                        </th>
                                        <td>
                                            {{cas.trajanje}}
                                        </td>
                                    </tr>
                                    <tr *ngIf="cas.status == 'start'">
                                        <td colspan="2" style="background-color: rgb(180, 242, 57);">
                                            <button mat-button (click)="join(cas._id)" style="background-color: rgb(180, 242, 57);">JOIN</button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="cas.status == 'started'">
                                        <td colspan="2" style="background-color: rgb(242, 100, 57);">
                                            <button mat-button (click)="finish(cas._id)" style="background-color: rgb(231, 53, 53);">FINISH</button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </form>
                <hr>
                <h2 style="font-size: 30px; margin-left: 20px; text-align: center;">
                    LIST OF REQUESTS<br>
                    <span style="color: red; size: large; text-align: center;">{{zahteviMessage}}</span>
                </h2>
                <form>
                    <table class="tabela-zahtevi">
                        <tr>
                            <td *ngFor="let zahtev of zahteviZaCasovimaSaUcenikom">
                                <table class="tabela-zahtevi">
                                    <tr>
                                        <th>
                                            Date
                                        </th>
                                        <td>
                                            {{zahtev.datum}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Time
                                        </th>
                                        <td>
                                            {{zahtev.vreme}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Subject
                                        </th>
                                        <td>
                                            {{zahtev.naziv_predmeta}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <td>
                                            {{zahtev.ucenik.ime}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Surname
                                        </th>
                                        <td>
                                            {{zahtev.ucenik.prezime}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Duration
                                        </th>
                                        <td>
                                            {{zahtev.trajanje}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button mat-button (click)="declineFlag(zahtev._id)"
                                                style="background-color: rgb(231, 53, 53);">
                                                DECLINE
                                            </button>
                                        </td>
                                        <td>
                                            <button mat-button (click)="accept(zahtev._id)"
                                                style="background-color: rgb(180, 242, 57);">
                                                ACCEPT
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="zahteviZaCasovimaFlags[zahtev._id] == 1">
                                        <td>
                                            <button mat-button (click)="decline(zahtev._id, zahtev.odgovor)"
                                                style="background-color: rgb(231, 53, 53);">
                                                CONFIRM
                                            </button><br>
                                        </td>
                                        <td>
                                            <span style="font-size: small;">You need to add explanation why:</span><br>
                                            <textarea name="odgovor" [(ngModel)]="zahtev.odgovor"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div style="color: rgb(231, 53, 53); text-align: center;">
                        <b>{{acceptMessage}}</b>
                    </div>
                </form>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>