.poruka {
    color: rgb(212, 23, 23);
    font-size: 25px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid #333;
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: rgb(127, 206, 8);
    color: black;
}

th {
    background-color: #5f5e5e;
    color: #fff;
}

h3 {
    text-align: center;
    background-color: #5f5e5e;
    color: #fff;
}

h2{
    background-color: rgb(196, 243, 24);
    color: #030303;
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    border-radius: 20px;
}

.content {
    background-image: url('/assets/background_ucenik.jpeg');
    height: calc(100vh - 50px);
    margin: 20px;
    margin-left: 30;
    font-size: 1.5rem;

    border-radius: 10px;
}
